<nav class="navbar fixed-top bg-primary"> 
    <p>Accuracy of Decision </p><br>
    <ngb-progressbar type={{ProgressBarType}} [value]="height" style="width: 100%;" [height]="heightBar"><span style="font-weight:bold;color: black" >{{StatusAccuracy}}</span></ngb-progressbar>
</nav>
<div> 
    <h1 style="margin-top: 10%" >Welcome To Decision Support System !!! </h1>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <p>1.เพศ / Gender</p>
    <input type="radio" name="gender" [(ngModel)]="user.gender" value="male" (click)="updateGenderProgressbar()"/>ชาย / Male<br>
    <input type="radio" name="gender" [(ngModel)]="user.gender" value="female" (click)="updateGenderProgressbar()"/>หญิง / Female<br>
    <input type="radio" name="gender" [(ngModel)]="user.gender" value="Unspecific" (click)="updateGenderProgressbar()"/>ไม่ระบุ / Unspecific<br>
    </div>
    
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <p>2.อายุ / Age</p>
    <input type="radio" name="age" [(ngModel)]="user.age" value="s1_below_21" (click)="updateAgeProgressbar()"/>อายุน้อยกว่า 21 ปี / Below 21 years old<br>
    <input type="radio" name="age" [(ngModel)]="user.age" value="s2_21_23" (click)="updateAgeProgressbar()"/>อายุ 21 ถึง 23 ปี / Ages 21 to 23<br>
    <input type="radio" name="age" [(ngModel)]="user.age" value="s3_23_27" (click)="updateAgeProgressbar()"/>อายุ 21 ถึง 23 ปี / Ages 23 to 27<br>
    <input type="radio" name="age" [(ngModel)]="user.age" value="s4_27_32" (click)="updateAgeProgressbar()"/>อายุ 21 ถึง 23 ปี / Ages 27 to 32<br>
    <input type="radio" name="age" [(ngModel)]="user.age" value="s5_32_up" (click)="updateAgeProgressbar()"/>อายุมากกว่า 32 ปี / Over 32 years old<br>
    </div>
    
    <p>3.สัญชาติ / Nationality</p>
    <input type="radio" name="nationality" [(ngModel)]="user.nationality" value="thai" (click)="updateNationalityProgressbar()"/>ไทย / Thai<br>
    <input type="radio" name="nationality" [(ngModel)]="user.nationality" value="foreigner" (click)="updateNationalityProgressbar()"/>ชาวต่างชาติ / Foreigner<br>
    
    <p>4.การศึกษา /  Education</p>
    <input type="radio" name="education" [(ngModel)]="user.education" value="primary" (click)="updateEducationProgressbar()"/>ระดับประถมศึกษา / Primary<br>
    <input type="radio" name="education" [(ngModel)]="user.education" value="secondary" (click)="updateEducationProgressbar()"/>ระดับมัธยมศึกษา / Secondary<br>
    <input type="radio" name="education" [(ngModel)]="user.education" value="vocational" (click)="updateEducationProgressbar()"/>ระดับอาชีวะ หรือวิชาชีพ / Vocational or Technical<br>
    <input type="radio" name="education" [(ngModel)]="user.education" value="bachelor" (click)="updateEducationProgressbar()"/>ระดับปริญญาตรี / Bachelor<br>
    <input type="radio" name="education" [(ngModel)]="user.education" value="graduate" (click)="updateEducationProgressbar()"/>ระดับปริญญาโท เอก / Graduate<br>
    
    <p>5.อาชีพ / Occupation</p>
    <input type="radio" name="occupation" [(ngModel)]="user.occupation" value="government" (click)="updateOccupationProgressbar()"/>พนักงานรัฐวิสาหกิจ / State Enterprise Employee<br>
    <input type="radio" name="occupation" [(ngModel)]="user.occupation" value="state" (click)="updateOccupationProgressbar()"/>พนักงานรัฐวิสาหกิจ / State Enterprise Employee<br>
    <input type="radio" name="occupation" [(ngModel)]="user.occupation" value="student" (click)="updateOccupationProgressbar()"/>นักเรียน/นักศึกษา / Student<br>
    <input type="radio" name="occupation" [(ngModel)]="user.occupation" value="employee" (click)="updateOccupationProgressbar()"/>รับจ้าง / Employee<br>
    <input type="radio" name="occupation" [(ngModel)]="user.occupation" value="trader" (click)="updateOccupationProgressbar()"/>ค้าขาย / Trader<br>
    <input type="radio" name="occupation" [(ngModel)]="user.occupation" value="self" (click)="updateOccupationProgressbar()"/>ทำงานส่วนตัว / Self – Employed<br>
    <input type="radio" name="occupation" [(ngModel)]="user.occupation" value="other" (click)="updateOccupationProgressbar()"/>อื่นๆ / Other<br>
    
    <p>6.คุณเป็นผู้เล่นแบบไหน / What type of gamer are you</p>
    <input type="radio" name="typeOfGamer" [(ngModel)]="user.typeOfGamer" value="hardcore" (click)="updateTypeOfGamerProgressbar()"/>ผู้เล่นประจำ / Hardcore<br>
    <input type="radio" name="typeOfGamer" [(ngModel)]="user.typeOfGamer" value="casual" (click)="updateTypeOfGamerProgressbar()" />ผู้เล่นทั่วไป / Casual<br>
    <input type="radio" name="typeOfGamer" [(ngModel)]="user.typeOfGamer" value="dontknow" (click)="updateTypeOfGamerProgressbar()"/>ไม่แน่ใจ / I don’t know<br>
    
    <p>7.คุณชอบเล่นบอร์ดเกมแบบไหน / You prefer playing?</p>
    <input type="radio" name="preferPlaying" [(ngModel)]="user.preferPlaying" value="alone" (click)="updatePreferPlayingProgressbar()"/>เล่นคนเดียว / Single Player Alone<br>
    <input type="radio" name="preferPlaying" [(ngModel)]="user.preferPlaying" value="withOtherPeople" (click)="updatePreferPlayingProgressbar()"/>เล่นคนเดียวพร้อมกับผู้อื่น / Single Player with other people (turn based, passive)<br>
    <input type="radio" name="preferPlaying" [(ngModel)]="user.preferPlaying" value="competitive" (click)="updatePreferPlayingProgressbar()"/>เล่นหลายคนแข่งกับคนอื่นๆ / Multiplayer in competitive mode<br>
    <input type="radio" name="preferPlaying" [(ngModel)]="user.preferPlaying" value="cooperative" (click)="updatePreferPlayingProgressbar()"/>เล่นหลายคนช่วยกัน / Multiplayer in cooperative mode<br>
    
    <div class="container"> 
    <p>8.ถ้าคุณถูกเชิญให้เล่นบอร์ดเกมที่ไม่เคยเล่นมาก่อน คุณคิดว่าปัจจัยดังต่อไปนี้มีสำคัญขนาดไหน / <br> If you were asked to play a board game, how important would the following aspects be to you</p>
    <table class="table" >
        <thead class="thead-dark">
            <th><p>คำถาม /<br> Question</p></th>
            <th align='center'><p>ไม่สำคัญเลย /<br> Not Important at all</p></th>
            <th align='center'><p>สำคัญอยู่บ้าง /<br> Somewhat important</p></th>
            <th align='center'><p>ค่อนข้างสำคัญ /<br> Quite important</p></th>
            <th align='center'><p>สำคัญมาก /<br> Very Important</p></th>
        </thead>
        <tr>
            <td><p>เรียนรู้ง่าย /<br> Easy to learn</p></td>
            <td align='center'><input type="radio" name="easyToLearn" [(ngModel)]="user.easyToLearn" value="s1" (click)="updateEasyToLearnProgressbar()"/></td>
            <td align='center'><input type="radio" name="easyToLearn" [(ngModel)]="user.easyToLearn" value="s2" (click)="updateEasyToLearnProgressbar()"/></td>
            <td align='center'><input type="radio" name="easyToLearn" [(ngModel)]="user.easyToLearn" value="s3" (click)="updateEasyToLearnProgressbar()"/></td>
            <td align='center'><input type="radio" name="easyToLearn" [(ngModel)]="user.easyToLearn" value="s4" (click)="updateEasyToLearnProgressbar()"/></td>
        </tr>
        <tr>
                <td><p>เล่นง่าย /<br> Easy to play</p></td>
                <td align='center'><input type="radio" name="easyToPlay" [(ngModel)]="user.easyToPlay" value="s1" (click)="updateEasyToPlayProgressbar()"/></td>
                <td align='center'><input type="radio" name="easyToPlay" [(ngModel)]="user.easyToPlay" value="s2" (click)="updateEasyToPlayProgressbar()"/></td>
                <td align='center'><input type="radio" name="easyToPlay" [(ngModel)]="user.easyToPlay" value="s3" (click)="updateEasyToPlayProgressbar()"/></td>
                <td align='center'><input type="radio" name="easyToPlay" [(ngModel)]="user.easyToPlay" value="s4" (click)="updateEasyToPlayProgressbar()"/></td>
            </tr>
            <tr>
                    <td><p>ท้าทาย /<br> Challenging</p></td>
                    <td align='center'><input type="radio" name="challenging" [(ngModel)]="user.challenging" value="s1" (click)="updateChallengingProgressbar()"/></td>
                    <td align='center'><input type="radio" name="challenging" [(ngModel)]="user.challenging" value="s2" (click)="updateChallengingProgressbar()"/></td>
                    <td align='center'><input type="radio" name="challenging" [(ngModel)]="user.challenging" value="s3" (click)="updateChallengingProgressbar()"/></td>
                    <td align='center'><input type="radio" name="challenging" [(ngModel)]="user.challenging" value="s4" (click)="updateChallengingProgressbar()"/></td>
                </tr>
                <tr>
                        <td><p>มีความหลากหลาย /<br> Lots of variety</p></td>
                        <td align='center'><input type="radio" name="lotsOfVariety" [(ngModel)]="user.lotsOfVariety" value="s1" (click)="updateLotsOfVarietyProgressbar()"/></td>
                        <td align='center'><input type="radio" name="lotsOfVariety" [(ngModel)]="user.lotsOfVariety" value="s2" (click)="updateLotsOfVarietyProgressbar()"/></td>
                        <td align='center'><input type="radio" name="lotsOfVariety" [(ngModel)]="user.lotsOfVariety" value="s3" (click)="updateLotsOfVarietyProgressbar()"/></td>
                        <td align='center'><input type="radio" name="lotsOfVariety" [(ngModel)]="user.lotsOfVariety" value="s4" (click)="updateLotsOfVarietyProgressbar()"/></td>
                    </tr>
                    <tr>
                            <td><p>ร่วมมือกัน /<br> Cooperative</p></td>
                            <td align='center'><input type="radio" name="cooperative" [(ngModel)]="user.cooperative" value="s1" (click)="updateCooperativeProgressbar()"/></td>
                            <td align='center'><input type="radio" name="cooperative" [(ngModel)]="user.cooperative" value="s2" (click)="updateCooperativeProgressbar()"/></td>
                            <td align='center'><input type="radio" name="cooperative" [(ngModel)]="user.cooperative" value="s3" (click)="updateCooperativeProgressbar()"/></td>
                            <td align='center'><input type="radio" name="cooperative" [(ngModel)]="user.cooperative" value="s4" (click)="updateCooperativeProgressbar()"/></td>
                        </tr>
                        <tr>
                                <td><p>แข่งขันกับคนอื่น /<br> Completive</p></td>
                                <td align='center'><input type="radio" name="completive" [(ngModel)]="user.completive" value="s1" (click)="updateCompletiveProgressbar()"/></td>
                                <td align='center'><input type="radio" name="completive" [(ngModel)]="user.completive" value="s2" (click)="updateCompletiveProgressbar()"/></td>
                                <td align='center'><input type="radio" name="completive" [(ngModel)]="user.completive" value="s3" (click)="updateCompletiveProgressbar()"/></td>
                                <td align='center'><input type="radio" name="completive" [(ngModel)]="user.completive" value="s4" (click)="updateCompletiveProgressbar()"/></td>
                            </tr>
                            <tr>
                                    <td><p>ความสวยงาม /<br> Art work</p></td>
                                    <td align='center'><input type="radio" name="artwork" [(ngModel)]="user.artwork" value="s1" (click)="updateArtWorkProgressbar()"/></td>
                                    <td align='center'><input type="radio" name="artwork" [(ngModel)]="user.artwork" value="s2" (click)="updateArtWorkProgressbar()"/></td>
                                    <td align='center'><input type="radio" name="artwork" [(ngModel)]="user.artwork" value="s3" (click)="updateArtWorkProgressbar()"/></td>
                                    <td align='center'><input type="radio" name="artwork" [(ngModel)]="user.artwork" value="s4" (click)="updateArtWorkProgressbar()"/></td>
                                </tr>
        
    </table>
    </div>

    <div class="container"> 
        <p>9.กิจกรรมที่คุณชอบทำเมื่อมีเวลาว่าง / Please rate the following leisure activities</p>
        <table class="table" >
            <thead class="thead-dark">
                <th><p>คำถาม /<br> Question</p></th>
                <th align='center'><p>ไม่สำคัญเลย /<br> Not Important at all</p></th>
                <th align='center'><p>สำคัญอยู่บ้าง /<br> Somewhat important</p></th>
                <th align='center'><p>ค่อนข้างสำคัญ /<br> Quite important</p></th>
                <th align='center'><p>สำคัญมาก /<br> Very Important</p></th>
            </thead>
            <tr>
                <td><p>เล่นกีฬา /<br> Sports</p></td>
                <td align='center'><input type="radio" name="sports" [(ngModel)]="user.sports" value="s1" (click)="updateSportsProgressbar()"/></td>
                <td align='center'><input type="radio" name="sports" [(ngModel)]="user.sports" value="s2" (click)="updateSportsProgressbar()"/></td>
                <td align='center'><input type="radio" name="sports" [(ngModel)]="user.sports" value="s3" (click)="updateSportsProgressbar()"/></td>
                <td align='center'><input type="radio" name="sports" [(ngModel)]="user.sports" value="s4" (click)="updateSportsProgressbar()"/></td>
            </tr>
            <tr>
                    <td><p>ทำสวน /<br> Gardening</p></td>
                    <td align='center'><input type="radio" name="gardening" [(ngModel)]="user.gardening" value="s1" (click)="updateGardeningProgressbar()"/></td>
                    <td align='center'><input type="radio" name="gardening" [(ngModel)]="user.gardening" value="s2" (click)="updateGardeningProgressbar()"/></td>
                    <td align='center'><input type="radio" name="gardening" [(ngModel)]="user.gardening" value="s3" (click)="updateGardeningProgressbar()"/></td>
                    <td align='center'><input type="radio" name="gardening" [(ngModel)]="user.gardening" value="s4" (click)="updateGardeningProgressbar()"/></td>
                </tr>
                <tr>
                        <td><p>ดูหนังหรือฟังเพลง /<br> Watching Movies and listen to the music</p></td>
                        <td align='center'><input type="radio" name="watchingMovies" [(ngModel)]="user.watchingMovies" value="s1" (click)="updateWatchingMoviesProgressbar()"/></td>
                        <td align='center'><input type="radio" name="watchingMovies" [(ngModel)]="user.watchingMovies" value="s2" (click)="updateWatchingMoviesProgressbar()"/></td>
                        <td align='center'><input type="radio" name="watchingMovies" [(ngModel)]="user.watchingMovies" value="s3" (click)="updateWatchingMoviesProgressbar()"/></td>
                        <td align='center'><input type="radio" name="watchingMovies" [(ngModel)]="user.watchingMovies" value="s4" (click)="updateWatchingMoviesProgressbar()"/></td>
                    </tr>
                    <tr>
                            <td><p>เล่นสลากกินแบ่ง /<br> Lottery Tickets</p></td>
                            <td align='center'><input type="radio" name="lottery" [(ngModel)]="user.lottery" value="s1" (click)="updateLotteryProgressbar()"/></td>
                            <td align='center'><input type="radio" name="lottery" [(ngModel)]="user.lottery" value="s2" (click)="updateLotteryProgressbar()"/></td>
                            <td align='center'><input type="radio" name="lottery" [(ngModel)]="user.lottery" value="s3" (click)="updateLotteryProgressbar()"/></td>
                            <td align='center'><input type="radio" name="lottery" [(ngModel)]="user.lottery" value="s4" (click)="updateLotteryProgressbar()"/></td>
                        </tr>
                        <tr>
                                <td><p>เล่นเกมกระดานหรือไพ่ /<br> Board or Card game</p></td>
                                <td align='center'><input type="radio" name="boardOrCard" [(ngModel)]="user.boardOrCard" value="s1" (click)="updateBoardOrCardProgressbar()"/></td>
                                <td align='center'><input type="radio" name="boardOrCard" [(ngModel)]="user.boardOrCard" value="s2" (click)="updateBoardOrCardProgressbar()"/></td>
                                <td align='center'><input type="radio" name="boardOrCard" [(ngModel)]="user.boardOrCard" value="s3" (click)="updateBoardOrCardProgressbar()"/></td>
                                <td align='center'><input type="radio" name="boardOrCard" [(ngModel)]="user.boardOrCard" value="s4" (click)="updateBoardOrCardProgressbar()"/></td>
                            </tr>
                            <tr>
                                    <td><p>เล่นเกมไขปริศนา /<br> Puzzles</p></td>
                                    <td align='center'><input type="radio" name="puzzles" [(ngModel)]="user.puzzles" value="s1" (click)="updatePuzzlesProgressbar()"/></td>
                                    <td align='center'><input type="radio" name="puzzles" [(ngModel)]="user.puzzles" value="s2" (click)="updatePuzzlesProgressbar()"/></td>
                                    <td align='center'><input type="radio" name="puzzles" [(ngModel)]="user.puzzles" value="s3" (click)="updatePuzzlesProgressbar()"/></td>
                                    <td align='center'><input type="radio" name="puzzles" [(ngModel)]="user.puzzles" value="s4" (click)="updatePuzzlesProgressbar()"/></td>
                                </tr>
                                <tr>
                                        <td><p>ท่องเที่ยว /<br> Travel</p></td>
                                        <td align='center'><input type="radio" name="travel" [(ngModel)]="user.travel" value="s1" (click)="updateTravelProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="travel" [(ngModel)]="user.travel" value="s2" (click)="updateTravelProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="travel" [(ngModel)]="user.travel" value="s3" (click)="updateTravelProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="travel" [(ngModel)]="user.travel" value="s4" (click)="updateTravelProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>อ่านหรือเขียนหนังสือ /<br> Read or Write</p></td>
                                        <td align='center'><input type="radio" name="readOrWrite" [(ngModel)]="user.readOrWrite" value="s1" (click)="updateReadOrWriteProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="readOrWrite" [(ngModel)]="user.readOrWrite" value="s2" (click)="updateReadOrWriteProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="readOrWrite" [(ngModel)]="user.readOrWrite" value="s3" (click)="updateReadOrWriteProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="readOrWrite" [(ngModel)]="user.readOrWrite" value="s4" (click)="updateReadOrWriteProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ทำงานศิลปะ /<br> Arts and Crafts</p></td>
                                        <td align='center'><input type="radio" name="artsAndCrafts" [(ngModel)]="user.artsAndCrafts" value="s1" (click)="updateArtsAndCraftsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="artsAndCrafts" [(ngModel)]="user.artsAndCrafts" value="s2" (click)="updateArtsAndCraftsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="artsAndCrafts" [(ngModel)]="user.artsAndCrafts" value="s3" (click)="updateArtsAndCraftsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="artsAndCrafts" [(ngModel)]="user.artsAndCrafts" value="s4" (click)="updateArtsAndCraftsProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ช้อปปิ้ง /<br> Shopping</p></td>
                                        <td align='center'><input type="radio" name="shopping" [(ngModel)]="user.shopping" value="s1" (click)="updateShoppingProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="shopping" [(ngModel)]="user.shopping" value="s2" (click)="updateShoppingProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="shopping" [(ngModel)]="user.shopping" value="s3" (click)="updateShoppingProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="shopping" [(ngModel)]="user.shopping" value="s4" (click)="updateShoppingProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>สังสรรค์ /<br> Socializing with friends and family</p></td>
                                        <td align='center'><input type="radio" name="socializing" [(ngModel)]="user.socializing" value="s1" (click)="updateSocializingProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="socializing" [(ngModel)]="user.socializing" value="s2" (click)="updateSocializingProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="socializing" [(ngModel)]="user.socializing" value="s3" (click)="updateSocializingProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="socializing" [(ngModel)]="user.socializing" value="s4" (click)="updateSocializingProgressbar()"/></td>
                                    </tr>
            
        </table>
    </div>

    <p>10.ท่านชอบทำกิจกรรมร่วมกับใครมากที่สุด / Whom do you usually engage in leisure activities</p>
    <input type="radio" name="whom" [(ngModel)]="user.whom" value="myself" (click)="updateWhomProgressbar()"/>ทำคนเดียว / By myself<br>
    <input type="radio" name="whom" [(ngModel)]="user.whom" value="friends" (click)="updateWhomProgressbar()"/>เพื่อน / Friends<br>
    <input type="radio" name="whom" [(ngModel)]="user.whom" value="colleagues" (click)="updateWhomProgressbar()"/>เพื่อนร่วมงาน / Co-workers / Colleagues<br>
    <input type="radio" name="whom" [(ngModel)]="user.whom" value="family" (click)="updateWhomProgressbar()"/>ครอบครัว / Family<br>

    <div class="container"> 
        <p>11.เลือกคำตอบที่ตรงกับความคิดเห็นของท่านมากที่สุด / Please select your answer</p>
        <table class="table" >
            <thead class="thead-dark">
                <th><p>คำถาม /<br> Question</p></th>
                <th align='center'><p>ไม่สำคัญเลย /<br> Not Important at all</p></th>
                <th align='center'><p>สำคัญอยู่บ้าง /<br> Somewhat important</p></th>
                <th align='center'><p>ค่อนข้างสำคัญ /<br> Quite important</p></th>
                <th align='center'><p>สำคัญมาก /<br> Very Important</p></th>
            </thead>
            <tr>
                <td><p>ฉันชอบเกมที่ใช้ตรรกะและการวิเคราะห์ /<br>I like game that use logic and analytic thinking</p></td>
                <td align='center'><input type="radio" name="useLogic" [(ngModel)]="user.useLogic" value="s1" (click)="updateUseLogicProgressbar()"/></td>
                <td align='center'><input type="radio" name="useLogic" [(ngModel)]="user.useLogic" value="s2" (click)="updateUseLogicProgressbar()"/></td>
                <td align='center'><input type="radio" name="useLogic" [(ngModel)]="user.useLogic" value="s3" (click)="updateUseLogicProgressbar()"/></td>
                <td align='center'><input type="radio" name="useLogic" [(ngModel)]="user.useLogic" value="s4" (click)="updateUseLogicProgressbar()"/></td>
            </tr>
            <tr>
                    <td><p>ฉันชอบเกมที่เลือกตัวละครได้ / <br>
                        I like game with multiple characters to choose from
                        </p></td>
                    <td align='center'><input type="radio" name="multipleCharacters" [(ngModel)]="user.multipleCharacters" value="s1" (click)="updateMultipleCharacters()"/></td>
                    <td align='center'><input type="radio" name="multipleCharacters" [(ngModel)]="user.multipleCharacters" value="s2" (click)="updateMultipleCharacters()"/></td>
                    <td align='center'><input type="radio" name="multipleCharacters" [(ngModel)]="user.multipleCharacters" value="s3" (click)="updateMultipleCharacters()"/></td>
                    <td align='center'><input type="radio" name="multipleCharacters" [(ngModel)]="user.multipleCharacters" value="s4" (click)="updateMultipleCharacters()"/></td>
                </tr>
                <tr>
                        <td><p>ฉันชอบเกมที่มีการสร้างเมือง / <br>
                            I like making building or structures
                            </p></td>
                        <td align='center'><input type="radio" name="buildingOrStructures" [(ngModel)]="user.buildingOrStructures" value="s1" (click)="updateBuildingOrStructuresProgressbar()"/></td>
                        <td align='center'><input type="radio" name="buildingOrStructures" [(ngModel)]="user.buildingOrStructures" value="s2" (click)="updateBuildingOrStructuresProgressbar()"/></td>
                        <td align='center'><input type="radio" name="buildingOrStructures" [(ngModel)]="user.buildingOrStructures" value="s3" (click)="updateBuildingOrStructuresProgressbar()"/></td>
                        <td align='center'><input type="radio" name="buildingOrStructures" [(ngModel)]="user.buildingOrStructures" value="s4" (click)="updateBuildingOrStructuresProgressbar()"/></td>
                    </tr>
                    <tr>
                            <td><p>ฉันชอบเกมที่มีปฏิสัมพันธ์ระหว่างผู้เล่น / <br>
                                I like game with player interaction
                                </p></td>
                            <td align='center'><input type="radio" name="playerInteraction" [(ngModel)]="user.playerInteraction" value="s1" (click)="updatePlayerInteractionProgressbar()"/></td>
                            <td align='center'><input type="radio" name="playerInteraction" [(ngModel)]="user.playerInteraction" value="s2" (click)="updatePlayerInteractionProgressbar()"/></td>
                            <td align='center'><input type="radio" name="playerInteraction" [(ngModel)]="user.playerInteraction" value="s3" (click)="updatePlayerInteractionProgressbar()"/></td>
                            <td align='center'><input type="radio" name="playerInteraction" [(ngModel)]="user.playerInteraction" value="s4" (click)="updatePlayerInteractionProgressbar()"/></td>
                        </tr>
                        <tr>
                                <td><p>ฉันชอบเกมที่มีการโจมตีผู้เล่น / <br>
                                    I like game with take that aspects
                                    </p></td>
                                <td align='center'><input type="radio" name="takeThatAspects" [(ngModel)]="user.takeThatAspects" value="s1" (click)="updateTakeThatAspectsProgressbar()"/></td>
                                <td align='center'><input type="radio" name="takeThatAspects" [(ngModel)]="user.takeThatAspects" value="s2" (click)="updateTakeThatAspectsProgressbar()"/></td>
                                <td align='center'><input type="radio" name="takeThatAspects" [(ngModel)]="user.takeThatAspects" value="s3" (click)="updateTakeThatAspectsProgressbar()"/></td>
                                <td align='center'><input type="radio" name="takeThatAspects" [(ngModel)]="user.takeThatAspects" value="s4" (click)="updateTakeThatAspectsProgressbar()"/></td>
                            </tr>
                            <tr>
                                    <td><p>ฉันชอบเกมที่มีการอัพเกรดตัวละคร /<br>
                                        I like game with upgradeable / leveling characters
                                        </p></td>
                                    <td align='center'><input type="radio" name="upgradeable" [(ngModel)]="user.upgradeable" value="s1" (click)="updateUpgradeableProgressbar()"/></td>
                                    <td align='center'><input type="radio" name="upgradeable" [(ngModel)]="user.upgradeable" value="s2" (click)="updateUpgradeableProgressbar()"></td>
                                    <td align='center'><input type="radio" name="upgradeable" [(ngModel)]="user.upgradeable" value="s3" (click)="updateUpgradeableProgressbar()"/></td>
                                    <td align='center'><input type="radio" name="upgradeable" [(ngModel)]="user.upgradeable" value="s4" (click)="updateUpgradeableProgressbar()"/></td>
                                </tr>
                                <tr>
                                        <td><p>ฉันชอบเกมที่มีการป้องกันพื้นที่ / <br>
                                            I like to defense territories / tower
                                            </p></td>
                                        <td align='center'><input type="radio" name="defense" [(ngModel)]="user.defense" value="s1" (click)="updateDefenseProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="defense" [(ngModel)]="user.defense" value="s2" (click)="updateDefenseProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="defense" [(ngModel)]="user.defense" value="s3" (click)="updateDefenseProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="defense" [(ngModel)]="user.defense" value="s4" (click)="updateDefenseProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ฉันชอบเกมที่มีการเก็บไอเท็ม ขุมทรัพย์ / <br>
                                            I like finding rare or hidden items/ treasures
                                            </p></td>
                                        <td align='center'><input type="radio" name="findingItems" [(ngModel)]="user.findingItems" value="s1" (click)="updateFindingItemsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="findingItems" [(ngModel)]="user.findingItems" value="s2" (click)="updateFindingItemsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="findingItems" [(ngModel)]="user.findingItems" value="s3" (click)="updateFindingItemsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="findingItems" [(ngModel)]="user.findingItems" value="s4" (click)="updateFindingItemsProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ฉันชอบเกมที่มีการจับคู่ เรียง / <br>
                                            I like set collection
                                            </p></td>
                                        <td align='center'><input type="radio" name="collection" [(ngModel)]="user.collection" value="s1" (click)="updateCollectionProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="collection" [(ngModel)]="user.collection" value="s2" (click)="updateCollectionProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="collection" [(ngModel)]="user.collection" value="s3" (click)="updateCollectionProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="collection" [(ngModel)]="user.collection" value="s4" (click)="updateCollectionProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ฉันชอบการกำจัดผู้เล่น / <br>
                                            I like game with player elimination
                                            </p></td>
                                        <td align='center'><input type="radio" name="playerElimination" [(ngModel)]="user.playerElimination" value="s1" (click)="updatePlayerEliminationProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="playerElimination" [(ngModel)]="user.playerElimination" value="s2" (click)="updatePlayerEliminationProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="playerElimination" [(ngModel)]="user.playerElimination" value="s3" (click)="updatePlayerEliminationProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="playerElimination" [(ngModel)]="user.playerElimination" value="s4" (click)="updatePlayerEliminationProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ฉันชอบเกมที่มีการพนัน วัดดวง เสี่ยงดวง /<br>
                                            I like gambling, betting and taking risks
                                            </p></td>
                                        <td align='center'><input type="radio" name="betting" [(ngModel)]="user.betting" value="s1" (click)="updateBettingProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="betting" [(ngModel)]="user.betting" value="s2" (click)="updateBettingProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="betting" [(ngModel)]="user.betting" value="s3" (click)="updateBettingProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="betting" [(ngModel)]="user.betting" value="s4" (click)="updateBettingProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ฉันชอบเกมที่ใช้การเจรจา / <br>
                                            I like negotiation game
                                            </p></td>
                                        <td align='center'><input type="radio" name="negotiation" [(ngModel)]="user.negotiation" value="s1" (click)="updateNegotiationProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="negotiation" [(ngModel)]="user.negotiation" value="s2" (click)="updateNegotiationProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="negotiation" [(ngModel)]="user.negotiation" value="s3" (click)="updateNegotiationProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="negotiation" [(ngModel)]="user.negotiation" value="s4" (click)="updateNegotiationProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ฉันชอบเกมที่มีเหตุการณ์ไม่คาดคิด / กับดัก / <br>
                                            I like game with surprising events / traps
                                            </p></td>
                                        <td align='center'><input type="radio" name="eventsOrTraps" [(ngModel)]="user.eventsOrTraps" value="s1" (click)="updateEventsOrTrapsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="eventsOrTraps" [(ngModel)]="user.eventsOrTraps" value="s2" (click)="updateEventsOrTrapsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="eventsOrTraps" [(ngModel)]="user.eventsOrTraps" value="s3" (click)="updateEventsOrTrapsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="eventsOrTraps" [(ngModel)]="user.eventsOrTraps" value="s4" (click)="updateEventsOrTrapsProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ฉันชอบเกมที่มีการเดินทางและสร้างความสัมพันธ์ของตัวละคร / <br>
                                            I like to explore and establish relationships with other characters
                                            </p></td>
                                        <td align='center'><input type="radio" name="relationships" [(ngModel)]="user.relationships" value="s1" (click)="updateRelationshipsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="relationships" [(ngModel)]="user.relationships" value="s2" (click)="updateRelationshipsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="relationships" [(ngModel)]="user.relationships" value="s3" (click)="updateRelationshipsProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="relationships" [(ngModel)]="user.relationships" value="s4" (click)="updateRelationshipsProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ฉันชอบเกมที่มีการแก้ปริศนา / <br>
                                            I like solving puzzles
                                            </p></td>
                                        <td align='center'><input type="radio" name="solvingPuzzles" [(ngModel)]="user.solvingPuzzles" value="s1" (click)="updateSolvingPuzzlesProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="solvingPuzzles" [(ngModel)]="user.solvingPuzzles" value="s2" (click)="updateSolvingPuzzlesProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="solvingPuzzles" [(ngModel)]="user.solvingPuzzles" value="s3" (click)="updateSolvingPuzzlesProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="solvingPuzzles" [(ngModel)]="user.solvingPuzzles" value="s4" (click)="updateSolvingPuzzlesProgressbar()"/></td>
                                    </tr>
            
                                    <tr>
                                        <td><p>ฉันชอบเกมที่มีการจัดการทรัพยากร / <br> 
                                            I like managing resources
                                            </p></td>
                                        <td align='center'><input type="radio" name="managingResources" [(ngModel)]="user.managingResources" value="s1" (click)="updateManagingResourcesProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="managingResources" [(ngModel)]="user.managingResources" value="s2" (click)="updateManagingResourcesProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="managingResources" [(ngModel)]="user.managingResources" value="s3" (click)="updateManagingResourcesProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="managingResources" [(ngModel)]="user.managingResources" value="s4" (click)="updateManagingResourcesProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ฉันชอบเกมที่ควบคุมตัวละครได้หลายตัว / <br>
                                            I like to control multiple units
                                            </p></td>
                                        <td align='center'><input type="radio" name="controlMultiple" [(ngModel)]="user.controlMultiple" value="s1" (click)="updateControlMultipleProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="controlMultiple" [(ngModel)]="user.controlMultiple" value="s2" (click)="updateControlMultipleProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="controlMultiple" [(ngModel)]="user.controlMultiple" value="s3" (click)="updateControlMultipleProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="controlMultiple" [(ngModel)]="user.controlMultiple" value="s4" (click)="updateControlMultipleProgressbar()"/></td>
                                    </tr>
                                    <tr>
                                        <td><p>ฉันชื่นชอบการทำคอมโบ <br>(การกระทำทำต่อเนื่องที่มากกว่า1ครั้งขึ้นไป) / <br>
                                            I like doing combo moves / plays
                                            </p></td>
                                        <td align='center'><input type="radio" name="combo" [(ngModel)]="user.combo" value="s1" (click)="updateComboProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="combo" [(ngModel)]="user.combo" value="s2" (click)="updateComboProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="combo" [(ngModel)]="user.combo" value="s3" (click)="updateComboProgressbar()"/></td>
                                        <td align='center'><input type="radio" name="combo" [(ngModel)]="user.combo" value="s4" (click)="updateComboProgressbar()"/></td>
                                    </tr>
        </table>
    </div >
    <div align='center'>
        <button style="margin-bottom: 5%" (click)="doPost()"> go </button>
    </div>
</div>
